.ProdList-wrapper {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px,1fr));
  row-gap: 30px;
}

.ProdList-prod {
  text-align: center;
}

.ProdList-prodImg {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px auto;
} 

.ProdList-prodName {
  padding-bottom: 3px;
}

.ProdList-prodPrice {
  color: #d83e17;
}

.ProdList-prodDetail {
  grid-column-start: 1;
  grid-column-end: 5;
}