.Layout-header {
  height: 50px;
  border-bottom: 2px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Layout-container {
  min-height: 800px;
  background-color: #eee;
}
.Layout-footer {
  height: 100px;
  border-top: 2px solid pink;
}
