.Modal-wrapper {
  width: 750px;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px #aaa;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.Modal-hidden {
  display: none;
}

.Modal-content {
  height: 470px;
}

.Modal-close {
  height: 30px;
  background-color: pink;
}